body{    
    background-color: #ffffff;
    
       
}

.card{
    width: 20rem;
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 20px;   
    margin-right: 30px;
   /* background-color: gray; */
}


.card-text{
    font-size: 0.9rem;
    
}

.container-fluid.row{
    padding-top: 6rem;
}